.nav-bar-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

.nav-bar-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}


.nav-bar-right a {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.nav-bar-right a:hover {
  transform: scale(1.05);
  text-decoration: underline;
}

.logged-in-right,
.logged-in-left {
  display: flex;
  gap: 20px;
}